name: Docker Image CI

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**/README.md'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build the Docker image
      run: |
        docker buildx build --push --platform linux/arm64,linux/amd64 --tag fbarresi/pygruenbeck-cloud-api:1.${{ github.run_number }} .
        docker buildx imagetools create -t fbarresi/pygruenbeck-cloud-api:1.${{ github.run_number }} fbarresi/pygruenbeck-cloud-api:latest
        
        docker push fbarresi/pygruenbeck-cloud-api:latest
    
