name: Docker Image CI

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**/README.md'
      - '**.yml'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build the Docker image
      run: |
        docker build . --file Dockerfile --tag fbarresi/pygruenbeck-cloud-api:1.${{ github.run_number }}
        docker tag fbarresi/pygruenbeck-cloud-api:1.${{ github.run_number }} fbarresi/pygruenbeck-cloud-api:latest
        docker push fbarresi/pygruenbeck-cloud-api:1.${{ github.run_number }}
        docker push fbarresi/pygruenbeck-cloud-api:latest
    - name: Build the Docker image (ARM)
      run: |
        docker build . --file Dockerfile-ARM --tag fbarresi/pygruenbeck-cloud-api:1.${{ github.run_number }}-arm
        docker tag fbarresi/pygruenbeck-cloud-api:1.${{ github.run_number }}-arm fbarresi/pygruenbeck-cloud-api:latest-arm
        docker push fbarresi/pygruenbeck-cloud-api:1.${{ github.run_number }}-arm
        docker push fbarresi/pygruenbeck-cloud-api:latest-arm
